*{
  box-sizing: border-box;
  /*border-style: dashed;
  border-color: black;*/
  }
  body{
    background-color: #CDCDCD;
  }
[class*="col-"]{
  width:100%;
  float:left;
  padding:15px;
}

@@media only screen and (min-width:600px) {
  /*For Tablets*/
  .col-m-1 {width:8.33%;}
  .col-m-2 {width:16.66%;}
  .col-m-3 {width:25%;}
  .col-m-4 {width:33.33%;}
  .col-m-5 {width:41.66%;}
  .col-m-6 {width:50%;}
  .col-m-7 {width:58.33%;}
  .col-m-8 {width:66.66%;}
  .col-m-9 {width:75%;}
  .col-m-10 {width:83.33%;}
  .col-m-11 {width:91.66%;}
  .col-m-12 {width:100%;}
}

@media only screen and (min-width:768px){
  .col-1 {width:8.33%;}
  .col-2 {width:16.66%;}
  .col-3 {width:25%;}
  .col-4 {width:33.33%;}
  .col-5 {width:41.66%;}
  .col-6 {width:50%;}
  .col-7 {width:58.33%;}
  .col-8 {width:66.66%;}
  .col-9 {width:75%;}
  .col-10 {width:83.33%;}
  .col-11 {width:91.66%;}
  .col-12 {width:100%;}
}

.row::after{
  content: "";
  clear: both;
  display: table;
}

div{
  padding: 0px 50px 0px 20px;
  visibility: visible;
  background-color: #CDCDCD;
}

h3{
  padding-left: 20px;
}

p{
  padding-left: 20px;
}

#Html-Framework{
  display:none;
}

#Git-commands{
  display:none;
}

#React-conversion{
  display:block;;
}

#sidebar{
  position: fixed;
  top:auto;
}
#body{
  padding:0px;
}

#Header{
  background-color: #B3B3B3;
}
